<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple file sharing utility that supports all formats">
    <base href="/">
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="/style.css">
    <title>Share Files</title>
</head>

<body>
    <header>
        <h1 class="title">Share Files | <span>Please select files to upload</span></h1>
    </header>
    <main>
        <form class="form-files">
            <div class="form-input-elements">
                <input type="button" onclick="document.getElementById('file').click()" value="Choose files">
                <input type="file" name="file" id="file" style="display: none;" multiple>
                <input type="button" id="files-upload" value="Upload">
            </div>
            <h5 class="files-uploaded">Files Uploaded<br /><a></a></h5>
            <progress class="uploadBar" value="0" max="100"></progress>
            <h5 class="files-uploaded-error">Error! Could not upload files to the server</h5>
            <h6 class="selected-files-count"><span>0</span> files selected</h6>
            <div class="selected-files"></div>
            <a href="/saved" target="_blank"><input type="button" class="saved-btn"
                    value="Previously uploaded files"></a>
        </form>
    </main>
    <footer>
        <p class="copyrights">Made with ♥ by Ashfaq |
            <a href="/"><span>Home</span></a> |
            <a href="/"><span>Share Files</span></a>
        </p>
    </footer>
    <script src="script.js"></script>
</body>

</html>