<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Share Files: Previously uploaded</title>
</head>

<body>
    <header>
        <h1 class="title">Share Files | <span>Previously uploaded</span></h1>
    </header>
    <main>
        <div class="saved"></div>
    </main>
    <footer>
        <p class="copyrights">Made with ♥ by Ashfaq </p>
    </footer>
    <script src="savedscript.js"></script>
</body>

</html>