body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(255, 228, 196, 0.801);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

header,
footer {
    padding: 1rem 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title span {
    display: block;
    color: gray;
    font-size: x-large;
    margin-left: 8px;
    margin-top: 5px;
}

footer {
    padding-top: 0 !important;
}

main {
    height: 75%;
}

.form-files {
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input-elements > * {
    margin: 0.2rem;
    padding: 0.5rem;
}

.files-uploaded,
.files-uploaded-error {
    display: none;
    text-align: center;
    margin: 0.7rem;
}

.selected-files-count {
    margin: 1rem 0.7rem;
    text-align: center;
    font-size: 0.9rem;
}

.selected-files {
    margin: 1rem;
    margin-top: 0;
    padding: 0 1rem;
    max-width: 15rem;
    width: 100%;
    height: max-content;

    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.selected-files::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.selected-files::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.selected-files > * + * {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.selected-file {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 0;
    padding: 0.7rem;
}

.selected-file button {
    cursor: pointer;
    margin: 0 8px;
    background: none;
    border: none;
    align-content: center;
    outline: 0;
    font-weight: 900;
    font-size: 1rem;
}

.saved-btn {
    margin: 0.2rem;
    padding: 0.5rem;
}

@media (max-width: 481px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 326px) {
    html {
        font-size: 12px;
    }
}

/* ************* Not found ************* */

/* ************* Saved ************* */
.saved {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 1rem auto;
    margin-top: 0;
    padding: 0 1rem;
    max-width: max-content;
    width: 90%;
    height: max-content;

    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.saved::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.saved::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.saved > * + * {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.saved-item {
    padding: 0.7rem;
    margin: 0;
}

.saved-item > * + * {
    margin-left: 8px;
}

.saved-item > span {
    font-weight: 700;
}

/* ************* Download ************* */
.files-download {
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.files-download-all {
    text-align: center;
}

.files-download-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.files-download-group input {
    margin: 0.2rem;
    padding: 0.5rem;
}

.files-download-group > span {
    font-weight: 700;
    font-size: 0.9rem;
}

.files-download-group > * + * {
    margin-left: 15px !important;
}

.files-available {
    margin: 1rem auto;
    margin-top: 0;
    padding: 0 1rem;
    max-width: 20rem;
    width: 90%;
    height: max-content;

    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.files-available::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.files-available::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.files-available > * + * {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.file-available {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0.7rem;
    margin: 0;
}

.file-available > input {
    display: flex;
    margin: auto 8px;
}

.uploadBar{
    display: none;
}